{% extends "layout.html" %}

{% block content %}
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 mt-3">
          <h3 class="mb-3">Archive video or playlist</h3>
          <div class="input-group">
            <input id="archive-input" type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archive</button>
              <div class="dropdown-menu">
                <a id="archive-vurl" class="dropdown-item" href="#">video by URL</a>
                <a id="archive-vid" class="dropdown-item" href="#">video by ID</a>
                <div role="separator" class="dropdown-divider"></div>
                <a id="archive-purl" class="dropdown-item" href="#">playlist by URL</a>
                <a id="archive-pid" class="dropdown-item" href="#">playlist by ID</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <h3 class="mb-3">Generate batch file for youtube-dl</h3>
          <form enctype="multipart/form-data" action="/archive/batch" method="post">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="archiveFile" name="archiveFile">
                <label class="custom-file-label" for="archiveFile">(Optional) Choose youtube-dl archive file</label>
              </div>
              <div class="input-group-append">
                <input class="btn btn-outline-primary" type="submit" value="Generate">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <h3 class="mb-3">Download comments</h3>
          <a id="archive-comments" class="btn btn-outline-primary" href="#" role="button">Download comments</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 mt-3">
          <h3 class="mb-3">Rename archive playlists</h3>
          {% for archive in archives %}
            <div id="archive-rename-{{ archive['id'] }}" class="input-group">
              <input type="text" class="form-control" value="{{ archive['snippet']['title'] }}" aria-label="{{ archive['snippet']['title'] }}" data-original-value="{{ archive['snippet']['title'] }}">
              <div class="input-group-append">
                <button class="btn btn-outline-warning" type="button" disabled>Rename</button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <h3 class="mb-3">Generate youtube-dl configuration</h3>
          <form>
            <div class="form-group">
              <label for="ytdl-socket-timeout">Time to wait before giving up (in seconds)</label>
              <input type="text" class="form-control" id="ytdl-socket-timeout" pattern="([0-9]|[1-9][0-9]+)" title="Non-negative number (0+)." value="120">
            </div>
            <div class="form-group">
              <label for="ytdl-retries">Number of retries (or "infinite")</label>
              <input type="text" class="form-control" id="ytdl-retries" pattern="([0-9]|[1-9][0-9]+|infinite)" title="Non-negative number (0+) or 'infinite'." value="infinite">
            </div>
            <div class="form-group">
              <label for="ytdl-output">Output filename template (see <a href="https://github.com/rg3/youtube-dl/blob/master/README.md#output-template" target="_blank">documentation</a>)</label>
              <input type="text" class="form-control" id="ytdl-output" value="%(uploader_id)s/%(id)s.%(ext)s">
            </div>
            <div class="form-group">
              <label for="ytdl-overwrites">Overwrite files</label><br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-danger">
                  <input type="radio" name="ytdl-overwrites" id="ytdl-overwrite" autocomplete="off"> Yes
                </label>
                <label class="btn btn-outline-success active">
                  <input type="radio" name="ytdl-overwrites" id="ytdl-no-overwrite" autocomplete="off" checked> No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="ytdl-info-json">Write video metadata to a .info.json file</label><br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                  <input type="radio" name="ytdl-info-json" id="ytdl-write-info-json" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="ytdl-info-json" id="ytdl-no-write-info-json" autocomplete="off"> No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="ytdl-thumbnail">Write thumbnail image to disk</label><br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                  <input type="radio" name="ytdl-thumbnail" id="ytdl-write-thumbnail" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="ytdl-thumbnail" id="ytdl-no-write-thumbnail" autocomplete="off"> No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="ytdl-format">Video format code (see <a href="https://github.com/rg3/youtube-dl/blob/master/README.md#format-selection" target="_blank">documentation</a>)</label>
              <input type="text" class="form-control" id="ytdl-format" value="bestvideo[vcodec^=vp]+bestaudio[acodec=opus]/bestvideo+bestaudio[acodec=opus]/bestvideo+bestaudio/best">
            </div>
            <div class="form-group">
              <label for="ytdl-merge-format">If a merge is required, output to given container format</label>
              <select class="form-control" id="ytdl-merge-format">
                <option value="mkv" selected>Matroska (MKV)</option>
                <option value="mp4">MP4</option>
                <option value="webm">WebM</option>
                <option value="flv">FLV</option>
                <option value="ogg">Ogg</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ytdl-all-subs">Download all the available subtitles of the video</label><br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                  <input type="radio" name="ytdl-all-subs" id="ytdl-write-all-subs" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="ytdl-all-subs" id="ytdl-no-write-all-subs" autocomplete="off"> No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="ytdl-sub-format">Subtitle format, accepts formats preference (eg. "srt" or "ass/srt/best")</label>
              <input type="text" class="form-control" id="ytdl-sub-format" value="srt/best">
            </div>
            <div class="form-group">
              <label for="ytdl-convert-subs">Convert the subtitles to other format</label>
              <select class="form-control" id="ytdl-convert-subs">
                <option value="srt" selected>SRT</option>
                <option value="ass">ASS</option>
                <option value="vtt">VTT</option>
                <option value="lrc">LRC</option>
              </select>
            </div>
            <div class="form-group text-center mt-4">
              <input class="btn btn-outline-primary" type="submit" value="Generate">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#menu-archive').addClass('active');

      $('#archive-vurl').click(function() {
        var url = $('#archive-input').val();
        var matches = url.match(/^(https?:\/\/)?(www\.)?youtube\.[a-z]{2,3}\/(watch\?v=|video\/)(.{11}).*$/);

        if (matches !== null && matches.length == 5) {
          var id = matches[4];
          window.location = window.location.origin + '/archive/video/' + id;
        }
      });

      $('#archive-vid').click(function() {
        var id = $('#archive-input').val();
        window.location = window.location.origin + '/archive/video/' + id;
      });

      $('#archive-purl').click(function() {
        var url = $('#archive-input').val();
        var matches = url.match(/^(https?:\/\/)?(www\.)?youtube\.[a-z]{2,3}\/playlist\?list=(.+)$/);

        if (matches !== null && matches.length == 4) {
          var id = matches[3];
          window.location = window.location.origin + '/archive/playlist/' + id;
        }
      });

      $('#archive-pid').click(function() {
        var id = $('#archive-input').val();
        window.location = window.location.origin + '/archive/playlist/' + id;
      });

      $('#archiveFile').change(function() {
        $('label[for="archiveFile"]').text($('#archiveFile').val());
      });

      $('#archive-comments').click(function() {
        window.location = window.location.origin + '/archive/comments'
      });

      {% for archive in archives %}
      $('#archive-rename-{{ archive['id'] }} input').on('input', function() {
        if ($(this).val() != $(this).data('originalValue')) {
          $('#archive-rename-{{ archive['id'] }} button').prop('disabled', false);
        }
        else {
          $('#archive-rename-{{ archive['id'] }} button').prop('disabled', true);
        }
      });

      $('#archive-rename-{{ archive['id'] }} button').click(function() {
        var id = $('#archive-rename-{{ archive['id'] }} input').val();
        window.location = window.location.origin + '/archive/rename/{{ archive['id'] }}?name=' + encodeURIComponent(id);
      });
      {% endfor %}
    });
  </script>
{% endblock %}
