<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">YouTube Archive</li>
      <li id="menu-videos"><a href="{{ url_for('index') }}">Videos</a></li>
      <li id="menu-channels"><a href="{{ url_for('channels') }}">Channels</a></li>
      <li id="menu-archive"><a href="#">Archive</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a id="user" href="#"><img src="{{ user['thumbnail'] }}">{{ user['name'] }}</a>
        <ul class="menu">
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
