{% extends "layout.html" %}

{% block content %}
<div class="container-fluid py-3">
  <div class="row">
    {% if tracks %}
    <div class="col-lg-3">
      <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
        {% for item in tracks %}
        <label class="btn btn-outline-dark {% if channel == item['id'] %}active{% endif %}">
          <input type="radio" name="options" id="{{ item['id'] }}" autocomplete="off" {% if channel == item['id'] %}checked{% endif %}>
          <div class="media">
            <img class="align-self-center mr-3" src="{{ item['snippet']['thumbnails']['default']['url'] }}">
            <div class="media-body">
              <h5 class="mt-3">{{ item['snippet']['title'] }}</h5>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ item['statistics']['playedPercentage'] }}%" aria-valuenow="{{ item['statistics']['playedPercentage'] }}" aria-valuemin="0" aria-valuemax="100">{{ '%.2f' % item['statistics']['playedPercentage'] }}%</div>
              </div>
            </div>
          </div>
        </label>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-9">
      {% if videos %}
      <div class="container-fluid">
        <div class="row">
          {% for video in videos %}
          <div class="col-md-6 col-lg-3">
            <div id="{{ video['id']['videoId'] }}" class="video card mb-3" data-channel-id="{{ video['snippet']['channelId'] }}">
              <img class="card-img-top" src="{{ video['snippet']['thumbnails']['high']['url'] }}">
              <div class="card-body">
                <h6 class="card-title">{{ video['snippet']['title'] }}</h6>
                <h6 class="card-subtitle text-muted">{{ video['snippet']['publishedAt'] }}</h6>
              </div>
              <div class="card-footer text-muted">
                {% if video['played'] is not none %}
                  <span class="badge badge-success" title="{{ video['played'] }}">Played</span>
                {% else %}
                  <span class="badge badge-danger">Unplayed</span>
                {% endif %}
                {% if video['archived'] is not none %}
                  <span class="badge badge-info" title="{{ video['archived'] }}">Archived</span>
                {% else %}
                  <span class="badge badge-warning">Unarchived</span>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% elif video %}
      <div class="container-fluid">
        <div class="row">
          {% if video['status']['embeddable'] %}
          <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
              <div id="player"></div>
            </div>
            <script>
              var tag = document.createElement('script');
              tag.src = 'https://www.youtube.com/iframe_api';

              var firstScriptTag = document.getElementsByTagName('script')[0];
              firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

              var player;
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  videoId: '{{ video['id'] }}',
                  events: {
                  }
                });
              }
            </script>
          </div>
          <div class="col-lg-7 mt-3">
            <h2>{{ video['snippet']['title'] }}</h2>
          </div>
          <div class="col-lg-5 text-right mt-3">
            {% if video['played'] is not none %}
            <a class="btn btn-outline-danger" href="#" role="button">Mark as unplayed</a>
            {% else %}
            <a class="btn btn-outline-success" href="#" role="button">Mark as played</a>
            {% endif %}
            {% if video['archived'] is not none %}
            <a class="btn btn-outline-warning" href="#" role="button">Unarchive</a>
            {% else %}
            <a class="btn btn-outline-info" href="#" role="button">Archive</a>
            {% endif %}
            <div class="dropdown show d-inline-block">
              <a class="btn btn-outline-{% if video['rating'] == 'like' %}success{% elif video['rating'] == 'dislike' %}danger{% else %}warning{% endif %} dropdown-toggle" href="#" role="button" id="video-rating" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if video['rating'] == 'like' %}Liked{% elif video['rating'] == 'dislike' %}Disliked{% else %}Unrated{% endif %}
              </a>

              <div class="dropdown-menu" aria-labelledby="video-rating">
                {% if video['rating'] == 'like' %}
                <a class="dropdown-item" href="#">Dislike</a>
                <a class="dropdown-item" href="#">Unrate</a>
                {% elif video['rating'] == 'dislike' %}
                <a class="dropdown-item" href="#">Like</a>
                <a class="dropdown-item" href="#">Unrate</a>
                {% else %}
                <a class="dropdown-item" href="#">Like</a>
                <a class="dropdown-item" href="#">Dislike</a>
                {% endif %}
              </div>
            </div>
            <div class="dropdown show d-inline-block">
              <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="video-playlists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Playlists
              </a>

              <div class="dropdown-menu" aria-labelledby="video-playlists">
                <form class="px-4 py-3">
                  <a class="btn btn-outline-primary mb-3" href="#" role="button">Update playlists</a>
                  {% for playlist_id, data in video['playlists'].items() %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{ playlist_id }}" {% if data['included'] %}checked{% endif %}>
                    <label class="form-check-label" for="{{ playlist_id }}">
                      {{ data['title'] }}
                    </label>
                  </div>
                  {% endfor %}
                </form>
              </div>
            </div>
            {% if channel in subs %}
            <a class="btn btn-outline-danger" href="#" role="button">Unsubscribe</a>
            {% else %}
            <a class="btn btn-outline-success" href="#" role="button">Subscribe</a>
            {% endif %}
          </div>
          <div class="col-12">
            <h6 class="text-muted">{{ video['snippet']['publishedAt'] }}</h6>
            <pre class="pre-scrollable mt-3 video-description">{{ video['snippet']['description'] }}</pre>
            {% for tag in video['snippet']['tags'] %}
            <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="col-12 mt-3">
            <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">
              Views <span class="badge badge-light">{{ video['statistics']['viewCount'] }}</span>
            </a>
            <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
              Likes <span class="badge badge-light">{{ video['statistics']['likeCount'] }}</span>
            </a>
            <a href="#" class="btn btn-danger disabled" role="button" aria-disabled="true">
              Dislikes <span class="badge badge-light">{{ video['statistics']['dislikeCount'] }}</span>
            </a>
            <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true">
              Favorites <span class="badge badge-light">{{ video['statistics']['favoriteCount'] }}</span>
            </a>
            <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">
              Comments <span class="badge badge-light">{{ video['statistics']['commentCount'] }}</span>
            </a>
          </div>
          <div class="col-12 mt-3">
            <h3 class="mb-0">Comments <a class="btn btn-outline-warning d-inline-block" href="#" role="button">Download</a></h3>
          </div>
          <div class="col-12">
            {% for comment in video['comments'] %}
            <div class="media mt-3">
              <img class="mr-3" src="{{ comment['snippet']['topLevelComment']['snippet']['authorProfileImageUrl'] }}">
              <div class="media-body">
                {% if comment['snippet']['topLevelComment']['snippet']['likeCount'] > 0 %}
                <div class="float-right">
                  <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
                    Likes <span class="badge badge-light">{{ comment['snippet']['topLevelComment']['snippet']['likeCount'] }}</span>
                  </a>
                </div>
                {% endif %}
                <h5 class="mt-0" data-channel-id="{{ comment['snippet']['topLevelComment']['snippet']['authorChannelId']['value'] }}"><a href="{{ comment['snippet']['topLevelComment']['snippet']['authorChannelUrl'] }}">{{ comment['snippet']['topLevelComment']['snippet']['authorDisplayName'] }}</a></h5>
                <h6 class="text-muted" title="Last modified: {{ comment['snippet']['topLevelComment']['snippet']['updatedAt'] }}">{{ comment['snippet']['topLevelComment']['snippet']['publishedAt'] }}</h6>
                {{ comment['snippet']['topLevelComment']['snippet']['textDisplay'] | safe }}

                {% for reply in comment['replies']['comments'] %}
                <div class="media mt-3">
                  <a class="pr-3" href="#">
                    <img src="{{ reply['snippet']['authorProfileImageUrl'] }}">
                  </a>
                  <div class="media-body">
                    {% if reply['snippet']['likeCount'] > 0 %}
                    <div class="float-right">
                      <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
                        Likes <span class="badge badge-light">{{ reply['snippet']['likeCount'] }}</span>
                      </a>
                    </div>
                    {% endif %}
                    <h5 class="mt-0" data-channel-id="{{ reply['snippet']['authorChannelId']['value'] }}"><a href="{{ reply['snippet']['authorChannelUrl'] }}">{{ reply['snippet']['authorDisplayName'] }}</a></h5>
                    <h6 class="text-muted" title="Last modified: {{ reply['snippet']['updatedAt'] }}">{{ reply['snippet']['publishedAt'] }}</h6>
                    {{ reply['snippet']['textDisplay'] | safe }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <!--- TODO -->
          {% endif %}
        </div>
      </div>
      {% else %}
      {% endif %}
    </div>
    {% else %}
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        Go to the 'Channels' menu to start tracking some YouTube channels.
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#menu-videos').addClass('active');

      $('.video').click(function() {
        window.location = window.location.origin + '/videos/' + $(this).data('channelId') + '/' + $(this).attr('id');
      });

      $('.video').hover(
        function() { $(this).addClass('border'); $(this).addClass('border-primary'); },
        function() { $(this).removeClass('border'); $(this).removeClass('border-primary'); }
      );

      $('input[name="options"]').change(function() {
        window.location = window.location.origin + '/videos/' + $(this).attr('id');
      });
    });
  </script>
{% endblock %}
