{% extends "layout.html" %}

{% block content %}
<div class="container-fluid py-3">
  <div class="row">
    {% if tracks %}
    <div class="col-lg-3">
      <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
        {% for item in tracks %}
        <label class="btn btn-outline-dark {% if channel == item['id'] %}active{% endif %}">
          <input type="radio" name="options" id="{{ item['id'] }}" autocomplete="off" {% if channel == item['id'] and videos %}checked{% endif %}>
          <div class="media">
            <img class="align-self-center mr-3" src="{{ item['snippet']['thumbnails']['default']['url'] }}">
            <div class="media-body">
              <h5 class="mt-3">{{ item['snippet']['title'] }}</h5>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ item['statistics']['playedPercentage'] }}%" aria-valuenow="{{ item['statistics']['playedPercentage'] }}" aria-valuemin="0" aria-valuemax="100">{{ item['statistics']['playedCount'] }}/{{ item['statistics']['videoCount'] }} ({{ '%.2f' % item['statistics']['playedPercentage'] }}%)</div>
              </div>
            </div>
          </div>
        </label>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-9">
      {% if videos %}
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-12 text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-warning">
                <input type="radio" name="videos-toggle-archived" id="videos-unarchived" autocomplete="off"> Unarchived
              </label>
              <label class="btn btn-outline-dark active">
                <input type="radio" name="videos-toggle-archived" id="videos-archived-all" autocomplete="off" checked> All
              </label>
              <label class="btn btn-outline-info">
                <input type="radio" name="videos-toggle-archived" id="videos-archived" autocomplete="off"> Archived
              </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-danger">
                <input type="radio" name="videos-toggle-played" id="videos-unplayed" autocomplete="off"> Unplayed
              </label>
              <label class="btn btn-outline-dark active">
                <input type="radio" name="videos-toggle-played" id="videos-played-all" autocomplete="off" checked> All
              </label>
              <label class="btn btn-outline-success">
                <input type="radio" name="videos-toggle-played" id="videos-played" autocomplete="off"> Played
              </label>
            </div>
            <div class="btn-group">
              <button id="videos-random-unplayed" type="button" class="btn btn-outline-primary">Play random (unplayed)</button>
              <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a id="videos-next-unplayed" class="dropdown-item" href="#">Play next (unplayed)</a>
                <a id="videos-random-archived" class="dropdown-item" href="#">Play random (archived)</a>
                <a id="videos-random-all" class="dropdown-item" href="#">Play random (all)</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for video in videos %}
          <div class="col-md-6 col-lg-3">
            <div id="{{ video['snippet']['resourceId']['videoId'] }}" class="video card mb-3" data-channel-id="{{ video['snippet']['channelId'] }}">
              <img class="card-img-top" src="{{ video['snippet']['thumbnails']['high']['url'] }}">
              <div class="card-body">
                <h6 class="card-title">{{ video['snippet']['title'] }}</h6>
                <h6 class="card-subtitle text-muted">{{ video['snippet']['publishedAt'] }}</h6>
              </div>
              <div class="card-footer text-muted">
                {% if video['played'] is not none %}
                  <span class="badge badge-success" title="{{ video['played'] }}">Played</span>
                {% else %}
                  <span class="badge badge-danger">Unplayed</span>
                {% endif %}
                {% if video['archived'] is not none %}
                  <span class="badge badge-info" title="{{ video['archived'] }}">Archived</span>
                {% else %}
                  <span class="badge badge-warning">Unarchived</span>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% elif video %}
      <div class="container-fluid">
        <div class="row">
          {% if video['status']['embeddable'] %}
          <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
              <div id="player"></div>
            </div>
            <script>
              var tag = document.createElement('script');
              tag.src = 'https://www.youtube.com/iframe_api';

              var firstScriptTag = document.getElementsByTagName('script')[0];
              firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

              var player;
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  videoId: '{{ video['id'] }}',
                  events: {
                    'onStateChange': onPlayerStateChange
                  }
                });
              }

              var done = false;
              function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.ENDED && !done) {
                  if ($('#videos-mark-played').length) {
                    url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/play';
                    $.get(url, function(result) {
                      if (result) {
                        window.location = window.location.origin + '/videos/{{ channel }}';
                      }
                    });
                  }
                  done = true;
                }
              }
            </script>
          </div>
          {% else %}
          <div class="col-12">
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">This video has to be viewed directly on YouTube</h4>
              <p>Click <a href="https://www.youtube.com/watch?v={{ video['id'] }}" target="_blank" class="alert-link">here</a> to open YouTube in a new tab. Watch the video there, return back here and click the <strong>Mark as played</strong> button below to signify that you watched it.</p>
            </div>
          </div>
          {% endif %}
          <div class="col-lg-6 mt-3">
            <h2>{{ video['snippet']['title'] }}</h2>
          </div>
          <div class="col-lg-6 text-right mt-3">
            {% if video['played'] is not none %}
            <a id="videos-mark-unplayed" class="btn btn-outline-danger" href="#" role="button">Mark as unplayed</a>
            {% else %}
            <a id="videos-mark-played" class="btn btn-outline-success" href="#" role="button">Mark as played</a>
            {% endif %}
            {% if video['archived'] is not none %}
            <a id="videos-unarchive" class="btn btn-outline-warning" href="#" role="button">Unarchive</a>
            {% else %}
            <a id="videos-archive" class="btn btn-outline-info" href="#" role="button">Archive</a>
            {% endif %}
            <div class="dropdown show d-inline-block">
              <a class="btn btn-outline-{% if video['rating'] == 'like' %}success{% elif video['rating'] == 'dislike' %}danger{% else %}warning{% endif %} dropdown-toggle" href="#" role="button" id="video-rating" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if video['rating'] == 'like' %}Liked{% elif video['rating'] == 'dislike' %}Disliked{% else %}Unrated{% endif %}
              </a>

              <div class="dropdown-menu" aria-labelledby="video-rating">
                {% if video['rating'] == 'like' %}
                <a id="videos-dislike" class="dropdown-item" href="#">Dislike</a>
                <a id="videos-unrate" class="dropdown-item" href="#">Unrate</a>
                {% elif video['rating'] == 'dislike' %}
                <a id="videos-like" class="dropdown-item" href="#">Like</a>
                <a id="videos-unrate" class="dropdown-item" href="#">Unrate</a>
                {% else %}
                <a id="videos-like" class="dropdown-item" href="#">Like</a>
                <a id="videos-dislike" class="dropdown-item" href="#">Dislike</a>
                {% endif %}
              </div>
            </div>
            <div class="dropdown show d-inline-block">
              <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="video-playlists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Playlists
              </a>

              <div class="dropdown-menu" aria-labelledby="video-playlists">
                <form class="px-4 py-3">
                  <a id="video-playlists-update" class="btn btn-outline-primary mb-3" href="#" role="button">Update playlists</a>
                  {% for playlist_id, data in video['playlists'].items() %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input video-playlist" id="{{ playlist_id }}" {% if data['included'] %}checked{% endif %}>
                    <label class="form-check-label" for="{{ playlist_id }}">
                      {{ data['title'] }}
                    </label>
                  </div>
                  {% endfor %}
                </form>
              </div>
            </div>
            {% if channel in subs %}
            <a id="videos-unsubscribe" class="btn btn-outline-danger" href="#" role="button">Unsubscribe</a>
            {% else %}
            <a id="videos-subscribe" class="btn btn-outline-success" href="#" role="button">Subscribe</a>
            {% endif %}
          </div>
          <div class="col-12">
            <h6 class="text-muted">{{ video['snippet']['publishedAt'] }}</h6>
            <pre class="pre-scrollable mt-3 video-description">{{ video['snippet']['description'] }}</pre>
            {% for tag in video['snippet']['tags'] %}
            <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="col-12 mt-3">
            <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">
              Views <span class="badge badge-light">{{ video['statistics']['viewCount'] }}</span>
            </a>
            <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
              Likes <span class="badge badge-light">{{ video['statistics']['likeCount'] }}</span>
            </a>
            <a href="#" class="btn btn-danger disabled" role="button" aria-disabled="true">
              Dislikes <span class="badge badge-light">{{ video['statistics']['dislikeCount'] }}</span>
            </a>
            <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true">
              Favorites <span class="badge badge-light">{{ video['statistics']['favoriteCount'] }}</span>
            </a>
            <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">
              Comments <span class="badge badge-light">{{ video['statistics']['commentCount'] }}</span>
            </a>
          </div>
          <div class="col-12 mt-3">
            <h3 class="mb-0">Comments <a id="video-comments-dl" class="btn btn-outline-warning d-inline-block" href="#" role="button">Download</a></h3>
          </div>
          <div class="col-12">
            {% for comment in video['comments'] %}
            <div class="media mt-3">
              <img class="mr-3" src="{{ comment['snippet']['topLevelComment']['snippet']['authorProfileImageUrl'] }}">
              <div class="media-body">
                {% if comment['snippet']['topLevelComment']['snippet']['likeCount'] > 0 %}
                <div class="float-right">
                  <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
                    Likes <span class="badge badge-light">{{ comment['snippet']['topLevelComment']['snippet']['likeCount'] }}</span>
                  </a>
                </div>
                {% endif %}
                <h5 class="mt-0" data-channel-id="{% if 'authorChannelId' in comment['snippet']['topLevelComment']['snippet'] %}{{ comment['snippet']['topLevelComment']['snippet']['authorChannelId']['value'] }}{% else %}null{% endif %}"><a href="{{ comment['snippet']['topLevelComment']['snippet']['authorChannelUrl'] }}">{{ comment['snippet']['topLevelComment']['snippet']['authorDisplayName'] }}</a></h5>
                <h6 class="text-muted" title="Last modified: {{ comment['snippet']['topLevelComment']['snippet']['updatedAt'] }}">{{ comment['snippet']['topLevelComment']['snippet']['publishedAt'] }}</h6>
                {{ comment['snippet']['topLevelComment']['snippet']['textDisplay'] | safe }}

                {% for reply in comment['replies']['comments'] %}
                <div class="media mt-3">
                  <a class="pr-3" href="#">
                    <img src="{{ reply['snippet']['authorProfileImageUrl'] }}">
                  </a>
                  <div class="media-body">
                    {% if reply['snippet']['likeCount'] > 0 %}
                    <div class="float-right">
                      <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
                        Likes <span class="badge badge-light">{{ reply['snippet']['likeCount'] }}</span>
                      </a>
                    </div>
                    {% endif %}
                    <h5 class="mt-0" data-channel-id="{% if 'authorChannelId' in reply['snippet'] %}{{ reply['snippet']['authorChannelId']['value'] }}{% else %}null{% endif %}"><a href="{{ reply['snippet']['authorChannelUrl'] }}">{{ reply['snippet']['authorDisplayName'] }}</a></h5>
                    <h6 class="text-muted" title="Last modified: {{ reply['snippet']['updatedAt'] }}">{{ reply['snippet']['publishedAt'] }}</h6>
                    {{ reply['snippet']['textDisplay'] | safe }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      {% endif %}
    </div>
    {% else %}
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        Go to the 'Channels' menu to start tracking some YouTube channels.
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#menu-videos').addClass('active');

      $('.video').click(function() {
        window.location = window.location.origin + '/videos/' + $(this).data('channelId') + '/' + $(this).attr('id');
      });

      $('.video').hover(
        function() { $(this).addClass('border'); $(this).addClass('border-primary'); },
        function() { $(this).removeClass('border'); $(this).removeClass('border-primary'); }
      );

      $('input[name="options"]').change(function() {
        window.location = window.location.origin + '/videos/' + $(this).attr('id');
      });

      $('#videos-random-unplayed').click(function() {
        window.location = window.location.origin + '/videos/{{ channel }}/' + 'random-unplayed'
      });

      $('#videos-next-unplayed').click(function() {
        window.location = window.location.origin + '/videos/{{ channel }}/' + 'next-unplayed'
      });

      $('#videos-random-archived').click(function() {
        window.location = window.location.origin + '/videos/{{ channel }}/' + 'random-archived'
      });

      $('#videos-random-all').click(function() {
        window.location = window.location.origin + '/videos/{{ channel }}/' + 'random-all'
      });

      {% if video %}
      $('#videos-mark-played').click(function() {
        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/play';
        $.get(url, function(result) {
          if (result) {
            window.location.reload(true);
          }
        });
      });

      $('#videos-mark-unplayed').click(function() {
        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/unplay';
        $.get(url, function(result) {
          if (result) {
            window.location.reload(true);
          }
        });
      });

      $('#videos-archive').click(function() {
        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/archive';
        $.get(url, function(result) {
          if (result) {
            window.location.reload(true);
          }
        });
      });

      $('#videos-unarchive').click(function() {
        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/unarchive';
        $.get(url, function(result) {
          if (result) {
            window.location.reload(true);
          }
        });
      });

      $('#videos-like').click(function() {
        $('#video-rating').addClass('disabled');
        $('#video-rating').prop('aria-disabled', true);
        $('#video-rating').append(' <i class="fas fa-spinner fa-spin"></i>');

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/rate?rating=like';
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#videos-dislike').click(function() {
        $('#video-rating').addClass('disabled');
        $('#video-rating').prop('aria-disabled', true);
        $('#video-rating').append(' <i class="fas fa-spinner fa-spin"></i>');

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/rate?rating=dislike';
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#videos-unrate').click(function() {
        $('#video-rating').addClass('disabled');
        $('#video-rating').prop('aria-disabled', true);
        $('#video-rating').append(' <i class="fas fa-spinner fa-spin"></i>');

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/rate?rating=none';
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#video-playlists-update').click(function() {
        $('#video-playlists-update').addClass('disabled');
        $('#video-playlists-update').prop('aria-disabled', true);
        $('#video-playlists-update').append(' <i class="fas fa-spinner fa-spin"></i>');

        var reference = {};
        {% for playlist_id, data in video['playlists'].items() %}
        reference['{{ playlist_id }}'] = {% if data['included'] %}true{% else %}false{% endif %};
        {% endfor %}

        var playlists = {};
        $('.video-playlist').each(function() {
          if (reference[$(this).prop('id')] != $(this).prop('checked')) {
            playlists[$(this).prop('id')] = $(this).prop('checked');
          }
        });

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/playlists?data=' + encodeURIComponent(JSON.stringify(playlists));
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#videos-subscribe').click(function() {
        $('#videos-subscribe').addClass('disabled');
        $('#videos-subscribe').prop('aria-disabled', true);
        $('#videos-subscribe').append(' <i class="fas fa-spinner fa-spin"></i>');

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/subscribe';
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#videos-unsubscribe').click(function() {
        $('#videos-unsubscribe').addClass('disabled');
        $('#videos-unsubscribe').prop('aria-disabled', true);
        $('#videos-unsubscribe').append(' <i class="fas fa-spinner fa-spin"></i>');

        url = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/unsubscribe';
        $.get(url, function(result) {
          if (result) {
            (function(ms) { return new Promise(resolve => setTimeout(resolve, ms)); })(10000).then(() => {
              window.location.reload(true);
            });
          }
        });
      });

      $('#video-comments-dl').click(function() {
        window.location = window.location.origin + '/api/videos/{{ channel }}/{{ video['id'] }}/comments';
      });
      {% endif %}
    });
  </script>
{% endblock %}
